body{
    margin: 0;
}

.container{
    height: 150px;
    width: auto;
    border: 1px solid black;
}

.pattern{
    width: 100%;
    height: 100%;
    background-color: rgb(10, 87, 187)
}


.scrittore{
    color: rgba(31, 185, 185, 0.705);
}

.testo-in-giallo{
    background-color: yellow;
}

.testo-footer{
    color: grey;
}

.tabella{
    border-collapse: collapse;
    width: 100%;
}

.colonna1{
    text-align: left;
    background-color: rgb(135, 202, 204);
}

.colonna4{
    text-align: left;
    background-color: rgb(135, 202, 204);
}

.colonna0{
    text-align: left;
    background-color: aqua;
} 


